html,
body {
  height: 100%;
  overflow: hidden;
  background-image: url(https://3.bp.blogspot.com/-CBkeyJkASJY/XFUltC8eOEI/AAAAAAAABz0/Dlf9jd3RMPQKSz_G63SgYDiC53NmYNdywCKgBGAs/w0/night-sky-stars-scenery-landscape-21-4K.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.star {
  width: 1px;
  height: 1px;
  background-color: transparent;
  box-shadow: 1855px 161px #fff, 1146px 40px #fff, 1317px 553px #fff, 325px 614px #fff, 1814px 708px #fff, 1200px 919px #fff, 1173px 819px #fff, 1381px 201px #fff, 239px 680px #fff, 1042px 413px #fff, 41px 150px #fff, 1012px 748px #fff, 1044px 778px #fff, 1498px 468px #fff, 1179px 363px #fff, 85px 216px #fff, 1471px 32px #fff, 490px 2px #fff, 1137px 834px #fff, 1650px 110px #fff, 1315px 592px #fff, 1432px 481px #fff, 49px 757px #fff, 1491px 782px #fff, 1639px 498px #fff, 801px 785px #fff, 1687px 363px #fff, 372px 575px #fff, 1357px 115px #fff, 933px 766px #fff, 1126px 360px #fff, 1818px 935px #fff, 1230px 534px #fff, 1306px 764px #fff, 1795px 759px #fff, 1892px 995px #fff, 1242px 247px #fff, 1399px 629px #fff, 267px 365px #fff, 248px 519px #fff, 1657px 95px #fff, 1617px 139px #fff, 30px 566px #fff, 9px 785px #fff, 1861px 472px #fff, 781px 829px #fff, 407px 931px #fff, 1133px 534px #fff, 982px 172px #fff, 780px 730px #fff, 1684px 627px #fff, 47px 266px #fff, 363px 976px #fff, 86px 426px #fff, 1419px 465px #fff, 1542px 57px #fff, 149px 266px #fff, 109px 994px #fff, 604px 71px #fff, 1791px 342px #fff, 962px 295px #fff, 1586px 362px #fff, 167px 875px #fff, 394px 587px #fff, 892px 107px #fff, 1709px 567px #fff, 974px 326px #fff, 632px 844px #fff, 1464px 977px #fff, 1325px 804px #fff, 598px 144px #fff, 1620px 711px #fff, 1473px 530px #fff, 101px 160px #fff, 585px 318px #fff, 1314px 562px #fff, 1055px 402px #fff, 996px 150px #fff, 1632px 417px #fff, 1815px 33px #fff, 585px 240px #fff, 1445px 579px #fff, 1685px 504px #fff, 1255px 823px #fff, 1674px 803px #fff, 1895px 135px #fff, 1750px 741px #fff, 1490px 194px #fff, 908px 494px #fff, 1159px 412px #fff, 1100px 668px #fff, 1896px 762px #fff, 215px 872px #fff, 1507px 406px #fff, 452px 940px #fff, 480px 319px #fff, 111px 660px #fff, 198px 448px #fff, 1339px 781px #fff, 153px 887px #fff, 710px 964px #fff, 1919px 321px #fff, 1618px 37px #fff, 211px 24px #fff, 1606px 109px #fff, 785px 201px #fff, 1339px 489px #fff, 53px 267px #fff, 343px 612px #fff, 1367px 194px #fff, 733px 138px #fff, 1094px 971px #fff, 1864px 898px #fff, 1860px 51px #fff, 239px 450px #fff, 1540px 783px #fff, 192px 667px #fff, 1086px 232px #fff, 808px 206px #fff, 1594px 561px #fff, 1634px 904px #fff, 1291px 932px #fff, 1655px 298px #fff, 921px 320px #fff, 103px 866px #fff, 249px 254px #fff, 192px 913px #fff, 634px 938px #fff, 654px 247px #fff, 1222px 659px #fff, 828px 58px #fff, 1791px 936px #fff, 74px 618px #fff, 536px 454px #fff, 1804px 627px #fff, 322px 635px #fff, 97px 853px #fff, 71px 605px #fff, 1399px 833px #fff, 1313px 471px #fff, 1617px 602px #fff, 1037px 298px #fff, 280px 108px #fff, 1347px 250px #fff, 1219px 42px #fff, 22px 273px #fff, 841px 799px #fff, 1781px 975px #fff, 255px 383px #fff, 1181px 800px #fff, 1234px 96px #fff, 792px 332px #fff, 599px 221px #fff, 158px 481px #fff, 1852px 757px #fff, 977px 887px #fff, 1455px 355px #fff, 690px 387px #fff, 1382px 953px #fff, 812px 311px #fff, 1461px 416px #fff, 253px 429px #fff, 1455px 576px #fff, 184px 373px #fff, 1688px 704px #fff, 1204px 490px #fff, 981px 120px #fff, 241px 429px #fff, 868px 579px #fff, 887px 17px #fff, 80px 731px #fff, 1050px 906px #fff, 1049px 192px #fff, 1463px 838px #fff, 28px 345px #fff, 848px 81px #fff, 469px 846px #fff, 1386px 188px #fff, 1283px 579px #fff, 80px 813px #fff, 1545px 298px #fff, 1171px 303px #fff, 856px 732px #fff, 267px 721px #fff, 1751px 160px #fff, 1679px 944px #fff, 1640px 973px #fff, 1604px 495px #fff, 1415px 506px #fff, 1110px 90px #fff, 113px 503px #fff, 585px 14px #fff, 19px 93px #fff, 1546px 91px #fff, 1508px 894px #fff, 1080px 567px #fff, 1052px 19px #fff, 1257px 904px #fff, 894px 263px #fff, 1607px 572px #fff, 220px 942px #fff, 291px 434px #fff, 1767px 322px #fff, 1639px 13px #fff, 1310px 25px #fff, 612px 816px #fff, 842px 601px #fff, 197px 895px #fff, 1480px 518px #fff, 724px 175px #fff, 1420px 557px #fff, 1091px 998px #fff, 705px 354px #fff, 111px 969px #fff, 54px 359px #fff, 20px 299px #fff, 602px 246px #fff, 1687px 408px #fff, 25px 21px #fff, 1323px 939px #fff, 887px 332px #fff, 1272px 995px #fff, 1704px 207px #fff, 72px 177px #fff, 113px 431px #fff, 1759px 613px #fff, 1858px 143px #fff, 1309px 361px #fff, 1044px 132px #fff, 869px 294px #fff, 903px 551px #fff, 1885px 562px #fff, 1849px 637px #fff, 1128px 341px #fff, 375px 985px #fff, 558px 710px #fff, 1283px 789px #fff, 1842px 572px #fff, 936px 285px #fff, 139px 959px #fff, 1894px 379px #fff, 465px 500px #fff, 927px 987px #fff, 106px 502px #fff, 832px 515px #fff, 569px 246px #fff, 435px 990px #fff, 282px 74px #fff, 1559px 285px #fff, 968px 112px #fff, 276px 414px #fff, 986px 607px #fff, 1349px 947px #fff, 865px 223px #fff, 1370px 900px #fff, 476px 728px #fff, 1146px 893px #fff, 1789px 183px #fff, 1297px 827px #fff, 1687px 978px #fff, 1646px 576px #fff, 1295px 67px #fff, 1281px 953px #fff, 273px 70px #fff, 1361px 577px #fff, 1415px 156px #fff, 469px 666px #fff, 879px 761px #fff, 664px 62px #fff, 1489px 374px #fff, 1528px 795px #fff, 1028px 751px #fff, 1264px 278px #fff, 1868px 278px #fff, 824px 364px #fff, 600px 974px #fff, 785px 783px #fff, 1778px 790px #fff, 1076px 637px #fff, 503px 901px #fff, 1606px 715px #fff, 1179px 458px #fff, 378px 165px #fff, 295px 805px #fff, 1072px 409px #fff, 1898px 280px #fff, 68px 793px #fff, 413px 644px #fff, 1013px 497px #fff, 1186px 571px #fff, 865px 407px #fff, 1853px 189px #fff, 765px 277px #fff, 771px 804px #fff, 1040px 364px #fff, 1737px 706px #fff, 417px 950px #fff, 1453px 804px #fff, 816px 61px #fff, 1496px 597px #fff;
}

.meteor-1 {
  position: absolute;
  top: 227px;
  left: 53%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  -webkit-animation: meteor 9.1s linear infinite;
          animation: meteor 9.1s linear infinite;
}
.meteor-1::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-2 {
  position: absolute;
  top: 267px;
  left: 37%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  -webkit-animation: meteor 13.3s linear infinite;
          animation: meteor 13.3s linear infinite;
}
.meteor-2::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-3 {
  position: absolute;
  top: 119px;
  left: 68%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  -webkit-animation: meteor 7.1s linear infinite;
          animation: meteor 7.1s linear infinite;
}
.meteor-3::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-4 {
  position: absolute;
  top: 147px;
  left: 67%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  -webkit-animation: meteor 28.5s linear infinite;
          animation: meteor 28.5s linear infinite;
}
.meteor-4::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-5 {
  position: absolute;
  top: 250px;
  left: 97%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  -webkit-animation: meteor 11.2s linear infinite;
          animation: meteor 11.2s linear infinite;
}
.meteor-5::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-6 {
  position: absolute;
  top: 195px;
  left: 32%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  -webkit-animation: meteor 9.6s linear infinite;
          animation: meteor 9.6s linear infinite;
}
.meteor-6::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-7 {
  position: absolute;
  top: 73px;
  left: 49%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  -webkit-animation: meteor 3.2s linear infinite;
          animation: meteor 3.2s linear infinite;
}
.meteor-7::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-8 {
  position: absolute;
  top: 87px;
  left: 32%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  -webkit-animation: meteor 20.5s linear infinite;
          animation: meteor 20.5s linear infinite;
}
.meteor-8::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-9 {
  position: absolute;
  top: 190px;
  left: 52%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  -webkit-animation: meteor 21.4s linear infinite;
          animation: meteor 21.4s linear infinite;
}
.meteor-9::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-10 {
  position: absolute;
  top: 79px;
  left: 36%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  -webkit-animation: meteor 4.4s linear infinite;
          animation: meteor 4.4s linear infinite;
}
.meteor-10::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-11 {
  position: absolute;
  top: 57px;
  left: 93%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  -webkit-animation: meteor 10s linear infinite;
          animation: meteor 10s linear infinite;
}
.meteor-11::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-12 {
  position: absolute;
  top: 56px;
  left: 83%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  -webkit-animation: meteor 23.1s linear infinite;
          animation: meteor 23.1s linear infinite;
}
.meteor-12::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-13 {
  position: absolute;
  top: 159px;
  left: 23%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  -webkit-animation: meteor 27.4s linear infinite;
          animation: meteor 27.4s linear infinite;
}
.meteor-13::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-14 {
  position: absolute;
  top: 65px;
  left: 26%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  -webkit-animation: meteor 28.5s linear infinite;
          animation: meteor 28.5s linear infinite;
}
.meteor-14::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-15 {
  position: absolute;
  top: 100px;
  left: 59%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  -webkit-animation: meteor 20.6s linear infinite;
          animation: meteor 20.6s linear infinite;
}
.meteor-15::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-16 {
  position: absolute;
  top: 136px;
  left: 27%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  -webkit-animation: meteor 12.7s linear infinite;
          animation: meteor 12.7s linear infinite;
}
.meteor-16::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-17 {
  position: absolute;
  top: 184px;
  left: 76%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  -webkit-animation: meteor 23.2s linear infinite;
          animation: meteor 23.2s linear infinite;
}
.meteor-17::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-18 {
  position: absolute;
  top: 207px;
  left: 48%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  -webkit-animation: meteor 29.7s linear infinite;
          animation: meteor 29.7s linear infinite;
}
.meteor-18::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-19 {
  position: absolute;
  top: 211px;
  left: 89%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  -webkit-animation: meteor 15.3s linear infinite;
          animation: meteor 15.3s linear infinite;
}
.meteor-19::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-20 {
  position: absolute;
  top: 186px;
  left: 91%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  -webkit-animation: meteor 27.5s linear infinite;
          animation: meteor 27.5s linear infinite;
}
.meteor-20::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-21 {
  position: absolute;
  top: 206px;
  left: 52%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  -webkit-animation: meteor 21.3s linear infinite;
          animation: meteor 21.3s linear infinite;
}
.meteor-21::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-22 {
  position: absolute;
  top: 91px;
  left: 23%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  -webkit-animation: meteor 26.7s linear infinite;
          animation: meteor 26.7s linear infinite;
}
.meteor-22::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-23 {
  position: absolute;
  top: 255px;
  left: 57%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  -webkit-animation: meteor 22.9s linear infinite;
          animation: meteor 22.9s linear infinite;
}
.meteor-23::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-24 {
  position: absolute;
  top: 193px;
  left: 82%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  -webkit-animation: meteor 25.6s linear infinite;
          animation: meteor 25.6s linear infinite;
}
.meteor-24::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

.meteor-25 {
  position: absolute;
  top: 143px;
  left: 30%;
  width: 300px;
  height: 1px;
  transform: rotate(-45deg);
  background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
  -webkit-animation: meteor 24.3s linear infinite;
          animation: meteor 24.3s linear infinite;
}
.meteor-25::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 5px;
  border-radius: 50%;
  margin-top: -2px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 15px 3px #fff;
}

@-webkit-keyframes meteor {
  0% {
    opacity: 1;
    margin-top: -300px;
    margin-right: -300px;
  }
  12% {
    opacity: 0;
  }
  15% {
    margin-top: 300px;
    margin-left: -600px;
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes meteor {
  0% {
    opacity: 1;
    margin-top: -300px;
    margin-right: -300px;
  }
  12% {
    opacity: 0;
  }
  15% {
    margin-top: 300px;
    margin-left: -600px;
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}/*# sourceMappingURL=style.css.map */